################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Abdelmaboud.github.io/FileContentIndex/044d3168-8628-409b-93f7-801926e8b946.vsidx
*.vsidx
/.vs/Abdelmaboud.github.io/FileContentIndex/9aa99a68-cd95-4cd2-91fd-87eebeb05af9.vsidx
/.vs/Abdelmaboud.github.io/FileContentIndex/aa06429e-aa0e-4473-98e8-d20dfb21ebfd.vsidx
/.vs/Abdelmaboud.github.io/FileContentIndex/read.lock
